{{template "header" .}}
<h2>商品情報の検索</h2>
※スペース区切りで複数入力可（項目内はOR検索）
<form method="post" action="/customer/search">
    <p>姓<input type="text" name="first_name" size="30" value="{{.first_name}}" ></p>
    <p>名<input type="text" name="second_name" size="30" value="{{.second_name}}" ></p>
    <p>電話番号<input type="text" name="phone" size="30" value="{{.phone}}" ></p>
    <p>メールアドレス<input type="text" name="mail_address" size="30" value="{{.mail_address}}" ></p>
    <p>郵便番号<input type="text" name="zipcode" size="30" value="{{.zipcode}}" ></p>
    <p>住所<input type="text" name="address" size="30" value="{{.address}}" ></p>
    <p>備考<input type="text" name="memo" size="30" value="{{.memo}}" ></p>
    <p>項目間の検索方法
{{ if eq .andor "and" }}
        <input type="radio" name="andor" value="and" checked >AND
        <input type="radio" name="andor" value="or" >OR
{{ else }}
        <input type="radio" name="andor" value="and" >AND
        <input type="radio" name="andor" value="or" checked >OR
{{ end }}
    </p>
    <p><input type="submit" value="検索"></p>
</form>

<p>{{ .count }} 件</p>
<ul>
    {{ range .customers }}
        <li>姓, 名, 電話番号, メールアドレス, 郵便番号, 住所, 備考</li>
        <li>
            {{.FirstName}}, {{.SecondName}}, {{.Phone}}, {{.MailAddress}}, {{.Zipcode}}, {{.Address}}, {{.Memo}}
            <label><a href="/customer/detail/{{.ID}}">編集</a></label>
            <label><a href="/customer/delete_check/{{.ID}}">削除</a></label>
        </li>
    {{end}}
</ul>
{{template "footer"}}