{{template "header" .}}
<h2>商品情報の検索</h2>
※スペース区切りで複数入力可（項目内はOR検索）
<form method="post" action="/search">
    <p>タイトル<input type="text" name="title" size="30" value="{{.title}}" ></p>
    <p>URL<input type="text" name="url" size="30" value="{{.url}}" ></p>
    <p>備考<input type="text" name="memo" size="30" value="{{.memo}}" ></p>
    <p>項目間の検索方法
{{ if eq .andor "and" }}
        <input type="radio" name="andor" value="and" checked >AND
        <input type="radio" name="andor" value="or" >OR
{{ else }}
        <input type="radio" name="andor" value="and" >AND
        <input type="radio" name="andor" value="or" checked >OR
{{ end }}
    </p>
    <p><input type="submit" value="検索"></p>
</form>

<ul>
    {{ range .products }}
        <li>タイトル：{{ .Title }}, URL：{{ .Url }}, 備考：{{ .Memo }}
            <label><a href="/detail/{{.ID}}">編集</a></label>
            <label><a href="/delete_check/{{.ID}}">削除</a></label>
        </li>
    {{end}}
</ul>
{{template "footer"}}